---
http_interactions:
- request:
    method: get
    uri: http://partners.api.skyscanner.net/apiservices/browseroutes/v1.0/TW/TWD/en-GB/UK/US/2016-12-30?apiKey=prtl6749387986743898559646983194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"Routes":[{"OriginId":1803,"DestinationId":47175},{"OriginId":1803,"DestinationId":68528},{"OriginId":1803,"DestinationId":40053},{"OriginId":1803,"DestinationId":40057},{"OriginId":1803,"DestinationId":40065},{"OriginId":1803,"DestinationId":40066},{"OriginId":1803,"DestinationId":40073},{"OriginId":1803,"DestinationId":40116},{"OriginId":1803,"DestinationId":40118},{"OriginId":1803,"DestinationId":40216},{"OriginId":1803,"DestinationId":40307},{"OriginId":1803,"DestinationId":40530},{"OriginId":1803,"DestinationId":40543},{"OriginId":1803,"DestinationId":40577},{"OriginId":1803,"DestinationId":40627,"QuoteIds":[1],"Price":62068.0,"QuoteDateTime":"2016-12-03T18:04:45"},{"OriginId":1803,"DestinationId":40734},{"OriginId":1803,"DestinationId":40836},{"OriginId":1803,"DestinationId":40869},{"OriginId":1803,"DestinationId":40924,"QuoteIds":[2,3],"Price":46376.0,"QuoteDateTime":"2016-11-23T23:57:17"},{"OriginId":1803,"DestinationId":40935},{"OriginId":1803,"DestinationId":40979},{"OriginId":1803,"DestinationId":41020},{"OriginId":1803,"DestinationId":41024},{"OriginId":1803,"DestinationId":41215},{"OriginId":1803,"DestinationId":42460},{"Orig[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=:Taipei&key=&mode=driving&origins=:Hsinchu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Taipei City, Taiwan" ],
           "origin_addresses" : [ "Hsinchu, East District, Hsinchu City, Taiwan" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "85.8 km",
                          "value" : 85760
                       },
                       "duration" : {
                          "text" : "1 hour 11 mins",
                          "value" : 4231
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 08 Dec 2016 06:25:46 GMT
recorded_with: VCR 3.0.3
