---
http_interactions:
- request:
    method: get
    uri: https://api.airbnb.com/v2/search_results?client_id=3092nxybyb0otqw18e8nh5nty&location=Hsinchu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f6a1092c719a75008488217c380c3006"
    body:
      encoding: UTF-8
      string: '{"metadata":{"geography":{"accuracy":0,"precision":"unknown","country_code":"TW","country":"Taiwan","result_type":"colloquial_area","state_short":"Taiwan
        Province","state":"Taiwan Province","city":"East District","lat":24.8138287,"lng":120.9674798,"place_id":"ChIJEUtLGts1aDQRDDvTtbzcCdQ"},"guidebook":null,"search":{"business_travel_reward_data":{},"has_airbnb_plus_availability":false,"has_business_travel_ready_availability":false,"is_last_minute_eligible":false,"last_minute_show_dist_sort":false,"mobile_session_id":"E4g6QjPG","native_currency":"USD","price_type":"nightly","price_range_max_native":1000,"price_range_min_native":10,"search_id":"10695299-7330-45c0-8779-2ff52ceef385"},"pagination":{"next_offset":20,"result_count":20},"facets":{"bedrooms":[{"key":10,"value":"10","count":1},{"key":9,"value":"9","count":1},{"key":8,"value":"8","count":1},{"key":7,"value":"7","count":1},{"key":6,"value":"6","count":1},{"key":5,"value":"5","count":1},{"key":4,"value":"4","count":7},{"key":3,"value":"3","count":13},{"key":2,"value":"2","count":26},{"key":1,"value":"1","count":189},{"key":0,"value":"0","count":192}],"bathrooms":[{"key":8,"value":"8.0","count":1},{"key":7.5,"value":"7.5","count":1},{"key":7.0,"value":"7.0","count":1},{"key":6.5,"value":"6.5","count":1},{"key":6.0,"value":"6.0","count":1},{"key":5.5,"value":"5.5","count":1},{"key":5.0,"value":"5.0","count":1},{"key":4.5,"value":"4.5","count":1},{"key":4.0,"value":"4.0","count":3},{"key":3.5,"value":"3.5","count":3},{"key":3.0,"value":"3.0","count":5},{"key":2.5,"value":"2.5","count":8},{"key":2.0,"value":"2.0","count":29},{"key":1.5,"value":"1.5","count":32},{"key":1.0,"value":"1.0","count":186},{"key":0.5,"value":"0.5","count":187},{"key":0.0,"value":"0.0","count":192}],"beds":[{"key":16,"value":"16","count":2},{"key":15,"value":"15","count":2},{"key":14,"value":"14","count":2},{"key":13,"value":"13","count":2},{"key":12,"value":"12","count":3},{"key":11,"value":"11","count":3},{"key":10,"value":"10","count":3},{"key":9,"value":"9","count":3},{"key":8,"value":"8","count":4},{"key":7,"value":"7","count":4},{"key":6,"value":"6","count":17},{"key":5,"value":"5","count":19},{"key":4,"value":"4","count":24},{"key":3,"value":"3","count":32},{"key":2,"value":"2","count":80},{"key":1,"value":"1","count":191},{"key":0,"value":"0","count":192}],"availability":[{"key":"Instant
        Book","value":"Instant Book","count":79}],"room_type":[{"key":"Entire home/apt","value":"Entire
        home/apt","count":71},{"key":"Private room","value":"Private room","count":102},{"key":"Shared
        room","value":"Shared room","count":19}],"hosting_amenity_ids":[{"key":8,"value":"Kitchen","count":91},{"key":3,"value":"Internet","count":122},{"key":1,"value":"TV","count":137},{"key":40,"value":"Essentials","count":151},{"key":41,"value":"Shampoo","count":169},{"key":30,"value":"Heating","count":60},{"key":5,"value":"Air
        conditioning","count":172},{"key":33,"value":"Washer","count":148},{"key":34,"value":"Dryer","count":42},{"key":9,"value":"Free
        parking on premises","count":64},{"key":4,"value":"Wireless Internet","count":167},{"key":2,"[...]
